{% extends "base.html" %}

{% block title %}About - Websockets Workshop{% endblock %}

{% block content %}
<div class="container">
    <h2>About This Workshop</h2>
    <p>This workshop will teach you how to build real-time web applications using websockets.</p>
    
    <h3>Workshop Goals:</h3>
    <ul>
        <li>Learn the basics of Flask web development</li>
        <li>Understand HTTP vs websocket communication</li>
        <li>Build a real-time chat application</li>
        <li>Add interactive features and game-like elements</li>
    </ul>
    
    <h3>Technologies Used:</h3>
    <ul>
        <li>Python & Flask</li>
        <li>Flask-SocketIO</li>
        <li>HTML, CSS, JavaScript</li>
        <li>WebSocket protocol</li>
    </ul>
</div>
{% endblock %}
