{% extends "base.html" %}

{% block title %}Home - Websockets Workshop{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome to the Websockets Workshop!</h2>
    <p>This is Demo 1 - a basic Flask server with static content.</p>
    
    <div class="info-box">
        <h3>What we've learned:</h3>
        <ul>
            <li>Setting up a Flask application</li>
            <li>Creating routes with decorators</li>
            <li>Using Jinja2 templates</li>
            <li>Serving static files (CSS)</li>
        </ul>
    </div>
    
    <div class="next-steps">
        <h3>Next up:</h3>
        <p>In Demo 2, we'll add forms and basic interactivity!</p>
    </div>
</div>
{% endblock %}
